
@{
    ViewBag.Title = "AddSession";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Add New Session</h2>

        </div>

        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home"></i> Admin</a></li>
                <li> Session</li>
                <li class="active">Add New Session</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
</div>

<section class="section">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="panel">

                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Please fill up with correct format</h3>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        @using (Html.BeginForm("AddSession", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label for="default" class="col-sm-2 control-label">Session<span style="color:red;">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="session" placeholder="Enter Session(e.g. 2013-14)" name="session" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="default" class="col-sm-2 control-label">Select Info Sheet (excel format)<span style="color:red;">*</span></label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control-file" id="file" name="file">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" name="submit" class="btn btn-primary">Create Session</button>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Message != null)
                        {
                            <h4>@ViewBag.Message</h4>
                        }

                        <!-- /.col-md-12 -->
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->


        </div>
        <!-- /.col-md-12 -->
    </div>   
    </section>






